extends layout

block content
  h1= title
  ol
      - if (typeof(words) !== 'undefined'){
          each item in words
              - if (item) {
                  li #{item.hits} "  ---  " #{item.value}
              -}
      -} else {
        li "No words yet in the list"
      -}
