extends layout
block content
  h1= title

  p
    | rank &nbsp;hits &nbsp;&nbsp;word
  ol
    each val in words.length ? words : []
        - console.log(val);
        li
            |<strong> &nbsp;#{val.hits} &nbsp;&nbsp;&nbsp;&nbsp;#{val.value} </strong>
