extends layout
block content
  h1= title

  p
    | rank &nbsp;hits &nbsp;&nbsp;word
  ol
    each val in data.length ? data : []
        - console.log(val);
        li
            |<strong> &nbsp;#{val} &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </strong>
